@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  line-height: 1.7;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 96px 0;
}

/* Navigation */

.navigation {
  background-color: $color-dark;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: $color-light;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0;
}

.navigation li ul {
  display: none;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
  position: absolute;
  background: $color-light;
  padding: 0 24px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding-top: 12px;
}

.navigation ul ul li a {
  color: $color-dark;
}

.navigation ul ul {
  border: 1px solid;
  border-color: $color-dark;
  border-radius: 5px;
}

/* Slider */

.carousel-inner, .carousel-item {
  height: 90vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}


.carousel-caption {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: #f6b93b;
  margin-top: 20px;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}
